.container_control {
    width: 100%;
    height: 100vh;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.box_1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box_control1 {
    width: 180px;
    height: 180px;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
    border-radius: 50%;

}
.box_control2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
}
.box_control3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
}
.box_2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box_control4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
}
.box_control5 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
}
.box_control6 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
}
.box_3{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box_control7 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
}
.box_control8 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
}
.box_control9 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(./167398L__04164.jpg);
    background-size: cover;
    
}